name: Frontend - Deploy to server

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker image tag (e.g. 20251212-1831 or 'latest')"
        required: true
        default: "latest"

jobs:
  deploy:
    name: Deploy via SSH
    runs-on: codebuild-automated-blog-frontend-${{ github.run_id }}-${{ github.run_attempt }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Replace tag in docker-compose (yq)
        if: ${{ inputs.image_tag != 'latest' }}
        uses: mikefarah/yq@v4
        env:
          IMAGE_TAG: ${{ inputs.image_tag }}
        with:
          cmd: >
            yq -i '
              (.services[].image |=
                (if . == null then .
                 elif test(":latest$") then sub(":latest$"; ":" + strenv(IMAGE_TAG))
                 else .
                 end)
              )
            ' deploy/frontend.docker-compose.yml

      - name: Copy files to server via SSH
        uses: appleboy/scp-action@v0.1.7
        with:
          host: 35.171.228.37
          username: ec2-user
          key: ${{ secrets.BLOG_SSH_PRIVATE_KEY }}
          port: 22
          source: 'deploy/frontend.docker-compose.yml'
          target: '/opt/automated-blog'
          overwrite: true
          strip_components: 1

      - name: SSH and restart docker
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 35.171.228.37
          username: ec2-user
          key: ${{ secrets.BLOG_SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /opt/automated-blog/
            aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 304936888939.dkr.ecr.us-east-1.amazonaws.com
            sudo mkdir -p /root/.docker
            sudo cp /home/ec2-user/.docker/config.json /root/.docker/config.json
            sudo docker compose -f frontend.docker-compose.yml up -d
