name: Frontend CI (CodeBuild Runner)

on:
  push:
    paths:
      - 'frontend/**'
      - '.github/workflows/front.build.yml'
  pull_request:
    paths:
      - 'frontend/**'

jobs:
  build-frontend:
    runs-on: codebuild-blog-frontend-${{ github.run_id }}-${{ github.run_attempt }}

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install deps
        run: npm ci

      - name: Build frontend
        run: npm run build
